<%inherit file="/main.html" />
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%block name="headextra">
  <%static:css group='style-course'/>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.axislabels.js')}"></script>


<%static:css group='style-vendor-tinymce-content'/>
<%static:css group='style-vendor-tinymce-skin'/>
<%static:css group='style-vendor'/>
<%static:css group='style-vendor-jquery'/>

  <script type="text/javascript" src="${static.url('js/vendor/tinymce/js/tinymce/tinymce.full.min.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/tinymce/js/tinymce/jquery.tinymce.min.js')}"></script>
  <%static:js group='module-descriptor-js'/>

  <link rel="stylesheet" type="text/css" href="${static.url('js/vendor/timepicker/jquery.timepicker.css')}" />
</%block>

 

<style type="text/css">
a.active-section {
	color: #551A8B;
}
.staff-dashboard-content-stat-subsection {
	margin-top:1.4em;
	margin-bottom:1.4em;
}
.staff-dashboard-content-stat-section {
	margin-top:3em;
	margin-bottom:3em;
}
.staff-dashboard-content h2 a {
	margin-right: 1.2em;
}
table.stat_table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.stat_table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.stat_table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

a.selectedmode { background-color: yellow; }

textarea {
  height: 200px;
}
</style>

<section class="container">
<div class="staff-dashboard-wrapper">

  <section class="staff-dashboard-content" style="margin-left:10pt;margin-top:10pt;margin-right:10pt;margin-bottom:20pt">
    <h1>${_('Staff Dashboard')}</h1>
	<hr />
    <h2 class="instructor-nav">
	  <a href="${reverse('staff_cert')}" class="${modeflag.get('cert')}">${_('Import certificates')}</a>
      <a href="${reverse('staff_stat')}" class="${modeflag.get('stat')}">${_('Statistics')}</a>
      <a href="${reverse('staff_email')}" class="${modeflag.get('email')}">${_('Email')}</a>
        <a href="${reverse('staff_settings')}" class="${modeflag.get('settings')}">${_('Settings')}</a>
    </h2>
	<hr />

%if modeflag.get('certs'):
<h3>${_('Import certificates')}</h3><br/>

      <pre>
    CSV файл должен обладать следующими свойствами:
    1. Кодировка UTF-8
    2. Разделитель ;
    3. Заголовок должен содержать следующие обязательные столбцы course_num, course_name, email
    </pre>

<form name="action" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
    <label for="csvfile">CSV файл</label>
    <input type="file" name="csvfile" size="40"></br></br>
    <label for="pdffile">PDF файл</label>
    <input type="file" name="pdffile" size="40"></br></br>
    <div class="form-actions">
    <button type="submit" name="action" value="import_cert">${_('Submit')}</button>
    </div>
</form>
%endif

%if modeflag.get('stat'):
<h2>
	Страница статистики
</h2>
<div class="staff-dashboard-content-stat-section">
	<h3>
	Статистика по оценкам
	</h3>
	<div>
		<form method="post">
			<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
			<div class="staff-dashboard-content-stat-subsection">
				Логин школы:
				<input type="text" name="school_login">
			</div>
			<div class="staff-dashboard-content-stat-subsection">
				Активирован ли аккаунт?<br/><br/>
				<input type="radio" name="activated" value="1">Да
				<input type="radio" name="activated" value="">Нет
			</div>
			<div class="staff-dashboard-content-stat-subsection">
				Выполнено ли 70 % заданий?<br/><br/>
				<input type="radio" name="complete70" value="1">Да
				<input type="radio" name="complete70" value="">Нет
			</div>
			<div class="staff-dashboard-content-stat-subsection">
				Выполнено ли 100 % заданий?<br/><br/>
				<input type="radio" name="complete100" value="1">Да
				<input type="radio" name="complete100" value="">Нет
			</div>
			<div class="staff-dashboard-content-stat-subsection">
				Дата регистрации на курс (в формате дд/мм/гггг):<br/><br/>
				От (включительно): <input id="min_date" type="text" name="min_date"><br><br/>
				До (включительно): <input id="max_date" type="text" name="max_date">
			</div>
			% if value_error_in_input:
				<div class="staff-dashboard-content-stat-subsection">
					Пожалуйста, введите дату в корректном формате.
				</div><br/>
			% endif
		    <div>
			    <input type="reset" value="Сбросить фильтры">
		    </div><br/>
		    <div>
			    <button type="submit" name="action" value="download_stat_filtered">Скачать статистику с фильтрами</button>
		    </div><br/>
		</form>
		<form method="post">
			<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
		    <button type="submit" name="action" value="download_stat_unfiltered">Скачать полную статистику</button>
		</form>
	</div>
</div>

<div class="staff-dashboard-content-stat-section">
	<h3>
		Статистика по проверке работ преподавателями
	</h3>
	<div>
		<form method="post">
			<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
			<div class="staff-dashboard-content-stat-subsection">
				Курс:
				<select name="eval_selected_course">
					<option selected="selected" value=""></option>
				    % for course in courses:
				    	<option value=${course.id}>
				    		${course.display_number_with_default} ${course.display_name_with_default}
				    	</option>
				    % endfor
				</select>
			</div>
			<div class="staff-dashboard-content-stat-subsection">
				Дата проверки (в формате дд/мм/гггг):<br/><br/>
				От (включительно): <input id="eval_min_date" type="text" class="date" name="eval_min_date"><br/><br/>
				До (включительно): <input id="eval_max_date" type="text" name="eval_max_date"><br/><br/>
				По умолчанию дата «до» равна текущей дате, дата «от» — текущей дате минус 365 дней.
			</div>
			% if eval_value_error_in_input:
				<div class="staff-dashboard-content-stat-subsection">
					Пожалуйста, введите дату в корректном формате.
				</div>
			% endif
		    <div>
			    <input type="reset" value="Сбросить фильтры">
		    </div><br/>
		    <div>
			    <button type="submit" name="action" value="download_eval_stat_filtered">Скачать статистику с фильтрами</button>
		    </div><br/>
		</form>
		<form method="post">
			<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
		    <button type="submit" name="action" value="download_eval_stat_unfiltered">Скачать полную статистику</button>
		</form>
	</div>
</div>

<div class="staff-dashboard-content-stat-section">
	<h3>
		Статистика по работе преподавателей в дискуссиях
	</h3>
	<div>
		<form method="post">
			<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
			<div class="staff-dashboard-content-stat-subsection">
				Курс:
				<select name="disc_selected_course">
					<option selected="selected" value=""></option>
				    % for course in courses:
				    	<option value=${course.id}>
				    		${course.display_number_with_default} ${course.display_name_with_default}
				    	</option>
				    % endfor
				</select>
			</div>
			<div hidden="true">
				Дата работы в дискуссиях (в формате дд/мм/гггг):<br/><br/>
				От: <input id="disc_min_date" type="text" name="disc_min_date"><br><br/>
				До: <input id="disc_max_date" type="text" name="disc_max_date">
			</div>
			% if disc_value_error_in_input:
				<div class="staff-dashboard-content-stat-subsection">
					Пожалуйста, введите дату в корректном формате.
				</div><br/>
			% endif
		    <div>
		    	<button type="submit" name="action" value="download_disc_stat_filtered">Скачать статистику с фильтрами</button>
		    </div><br/>
		</form>
		<form method="post">
			<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
		    <button type="submit" name="action" value="download_disc_stat_unfiltered">Скачать полную статистику</button>
		</form>
	</div>
</div>
<script type="text/javascript">
$(function() {
	$("#min_date").datepicker();
	$("#max_date").datepicker();
	$("#eval_min_date").datepicker();
	$("#eval_max_date").datepicker();
	$("#disc_min_date").datepicker();
	$("#disc_max_date").datepicker();
	});
</script>

%endif


%if modeflag.get('email'):

<style>
.email-sender li {
	list-style: none;
}
</style>

<h3>
	Страница отправки сообщений
</h3>

<section class="email-sender" style="width: 800px;">
    <ul class="list-fields">
      <li class="field">
        <label for="id_subject">${_("Subject: ")}</label>
          <input type="text" id="id_subject" name="subject" maxlength="128" size="50"><br>
        <span class="tip">${_("(Max 128 characters)")}</span>
      </li>

      <li class="field">
        <label>${_("Message:")}</label>
        <div class="email-editor">
        	<div class="xblock xblock-studio_view xmodule_edit xmodule_HtmlDescriptor" data-runtime-class="LmsRuntime" data-init="XBlockToXModuleShim" data-block-type="None" data-runtime-version="1" data-usage-id="i4x:;_;_dummy_org;_dummy_course;_html;_dummy_name" data-type="HTMLEditingDescriptor" data-course-id="CPM/1/123">

			<section class="html-editor editor">
			  <div class="row">
			    <textarea class="tiny-mce"></textarea>
			  </div>
			</section>
			</div>
        </div>
        <input type="hidden" name="message" value="">
      </li>
    </ul>
    <span style="color: red;"><b>ВНИМАНИЕ!</b></span> Данное письмо будет отправленно всем пользователям системы без подтверждения!
    <div class="submit-email-action">
        <input type="button" class="email-send" value="Отослать письмо">
    </div>
    <div class="msg msg-confirm" style="display:none"><p class="copy"></p></div>
</section>


<script type="text/javascript">
    var emailEditor;
      $(document).ready(function(event){
        emailEditor = XBlock.initializeBlock($('.xblock-studio_view'));

        $('input.email-send').on('click', function () {
            submitEmail();
        });

      });
      function checkemail(event) {
          this.idashform.message.value = emailEditor.save()['data'];
          if (!this.idashform.subject.value) {
              alert("${_("Email subject can not be empty.")}");
              event.preventDefault();
              return false;
          } else if (!this.idashform.message.value) {
              alert("${_("Email body can not be empty.")}");
              event.preventDefault();
              return false;
          } else {
              return true;
          }
        };

    function submitEmail()  {
        var _this = this,
            data = {'action': 'email', 'subject': '', 'body': ''};

        data.body = emailEditor.save()['data'];
        data.subject = $('#id_subject').val();

        $('.msg-confirm').hide()

      if (!data.subject) {
          alert(gettext("Email subject can not be empty."));
          return false;
      } else if (!data.body) {
          alert(gettext("Email body can not be empty."));
          return false;
      }

        $.post(
            '${reverse("email")}', $.param(data),
            function (response) {
                if (response.status !== 'success') {
                    console.log('ERROR: ' + response.error);

                    return;
                }

                $('.msg-confirm .copy').html(response.msg)
                $('.msg-confirm').show()
            }
        );

    };
</script>

%endif

%if modeflag.get('settings'):
<h3>${_('Settings')}</h3><br/>

<form name="action" method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" />
    <input type="checkbox" ${'checked="checked"' if spammer else ''} name="spammer">Присылать все рассылки</input>
    <div class="form-actions">
        <button type="submit" name="action" value="save">${_("Save")}</button>
    </div>
</form>
%endif


%if msg:
    <p>${msg}</p>
%endif

%if datatable:

    <br/>
    <br/>
    <p>
      <hr width="100%">
      <h2>${datatable['title']}</h2>
      <table class="stat_table">
        <tr>
	%for hname in datatable['header']:
	  <th>${hname}</th>
	%endfor
	</tr>
        %for row in datatable['data']:
          <tr>
	    %for value in row:
	      <td>${value}</td>
	    %endfor
	  </tr>
        %endfor
      </table>
    </p>
%endif

%if plots:

    %for plot in plots:
      <br/>
      <h3>${plot['title']}</h3>
      <br/>
      <p>${plot['info']}</p>
      <br/>
      <div id="plot_${plot['id']}" style="width:600px;height:300px;"></div>
      <script type="text/javascript">
          $(function () {
              ${plot['data']}
              $.plot($("#plot_${plot['id']}"), ${plot['cmd']}  );
          });
      </script>
      <br/>
      <br/>
    %endfor

%endif

  </section>
  <div style="text-align:right; float: right"><span id="djangopid">${_('Django PID')}: ${djangopid}</span>
  ## Translators: A version number appears after this string
  | <span id="edxver">${_('Platform Version')}: ${edx_platform_version}</span></div>
</div>
</section>
