<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration import page_title_breadcrumbs %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/><!DOCTYPE html>

<center>
<h1>
	Страница статистики
</h1>
<h2>
Статистика по оценкам
</h2>
<p>
	<form method="post">
		<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
		<p>
		Логин школы:
		<input type="text" name="school_login">
		</p>
		<p>
		Активирован ли аккаунт?<br/>
		<input type="radio" name="activated" value="1">Да
		<input type="radio" name="activated" value="">Нет
		</p>
		<p>
		Выполнено ли 70 % заданий?<br/>
		<input type="radio" name="complete70" value="1">Да
		<input type="radio" name="complete70" value="">Нет
		</p>
		<p>
		Выполнено ли 100 % заданий?<br/>
		<input type="radio" name="complete100" value="1">Да
		<input type="radio" name="complete100" value="">Нет
		</p>
		<p>
		Дата регистрации на курс (в формате дд/мм/гггг):<br/>
		От: <input type="text" name="min_date"><br>
		До: <input type="text" name="max_date">
		</p>
		% if value_error_in_input:
			<p>
				Пожалуйста, введите дату в корректном формате.
			</p>
		% endif
	    <p>
	    <input type="reset" value="Сбросить фильтры">
	    </p>
	    <p>
	    <input type="submit" name="download_stat_filtered" value="Скачать статистику с фильтрами" />
	    </p>
	</form>
</p>
<p>
	<form method="post">
		<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
	    <input type="submit" name="download_stat_unfiltered" value="Скачать полную статистику" />
	</form>
</p>

<h2>
	Статистика по проверке работ преподавателями
</h2>

<p>
	Выбран курс: ${eval_selected_course}
	Ошибка: ${eval_error}
</p>

<p>
	<form method="post">
		<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
		<p>
			Курс:
			<select name="eval_selected_course">
				<option selected="selected" value=""></option>
			    % for course in courses:
			    	<option value=${course.id}>
			    		${course.display_name}
			    	</option>
			    % endfor
  				<option value="dummy_course_2">Курс2</option>
  				<option value="dummy_course_3">Курс3</option>
			</select>
		</p>
		<p>
		Дата проверки (в формате дд/мм/гггг):<br/>
		От: <input type="text" name="eval_min_date"><br>
		До: <input type="text" name="eval_max_date">
		</p>
		% if eval_value_error_in_input:
			<p>
				Пожалуйста, введите дату в корректном формате.
			</p>
		% endif
	    <p>
	    <input type="reset" value="Сбросить фильтры">
	    </p>


	    <p>
	    <input type="submit" name="download_eval_stat_filtered" value="Скачать статистику с фильтрами" />
	    </p>
	    <p>
	    <input type="submit" name="download_eval_stat_unfiltered" value="Скачать полную статистику" />
	    </p>
	</form>
</p>

<h2>
	Статистика по работе преподавателей в дискуссиях
</h2>

<p>
	Выбран курс: ${disc_selected_course}
</p>
<p>
	<form method="post">
		<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
		<p>
			Курс:
			<select name="disc_selected_course">
				<option selected="selected" value=""></option>
			    % for course in courses:
			    	<option value=${course.id}>
			    		${course.display_name}
			    	</option>
			    % endfor
  				<option value="dummy_course_2">Курс2</option>
  				<option name="dummy_course_3">Курс3</option>
			</select>
		</p>
		<p>
		Дата работы в дискуссиях (в формате дд/мм/гггг):<br/>
		От: <input type="text" name="disc_min_date"><br>
		До: <input type="text" name="disc_max_date">
		</p>
		% if disc_value_error_in_input:
			<p>
				Пожалуйста, введите дату в корректном формате.
			</p>
		% endif
	    <p>
	    <input type="reset" value="Сбросить фильтры">
	    </p>


	    <p>
	    <input type="submit" name="download_disc_stat_filtered" value="Скачать статистику с фильтрами" />
	    </p>
	    <p>
	    <input type="submit" name="download_disc_stat_unfiltered" value="Скачать полную статистику" />
	    </p>
	</form>
</p>

</center>

